@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-hover {
        @apply hover:text-secondary-400 cursor-pointer
    }

    .text-group-hover {
        @apply group-hover:text-secondary-400 cursor-pointer
    }
}

html {
    height: 100vh;
}

body,
#app {
    height: inherit;
}

.dark body,
[data-theme='skeleton'] {
    /*background-color: rgb(var(--color-surface-800));*/
    background-image: linear-gradient(to right top, rgb(var(--color-surface-900)), rgb(var(--color-surface-600)));
}

[data-theme='skeleton'] {
    background-image: none;
}

.modal-prompt-input {
    @apply px-3 py-2
}

[data-popup] {
    transition-duration: 0ms;
}